/* Селектор тегу (типу) */
h1 {
  color: blue;
}

/* Селектор класу */
.annotation {
  font-size: 10px;
}

/* Селектор ідентифікатора */
#subscribe-btn {
  color: red;
}

/* subscribe-btn: cebab-case;
subscribebtn: camelCase;
              lowerCamelCase (з маленької літери)
              UpperCamelCase (з великої лтери) - PascalCase
subscribe_btn : snake-case               */
/* I_AM_CONSTANT - так пишуться константи */
